body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 225, 167);
}

.aboutme-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
