.App{
  text-align: center;
}

.header{
display: flex;
flex-direction: column;
margin: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
}

.doug{
  font-family: 'Indie Flower', cursive;
  
}

.doug h1{
  color: purple;
  font-size: 77px;
  margin: 0;
}


.doug h2{
  color: green;
  font-size: 55px;
  margin: 0;
}

.sabrina{
  text-align: center;
}


.tamera{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.aboutme-list {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.tam-intro {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.tam-bg{
  background-color: rgb(247, 225, 167);
}
