.App{
  text-align: center;
}

.header{
display: flex;
flex-direction: column;
margin: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
}
<<<<<<< HEAD
.wrapper {
  background-image: linear-gradient(to left, #ff96d1, #eaa0df, #d5a9e6, #c2b0e8, #b4b6e4, #a6b6df, #9ab6d8, #93b5cf, #82b0c5, #73abb9, #68a5ab, #619f9b);
  display: flex;
  text-align: center;
  flex-direction: column;
}
.wrapper p{
  font-size: larger;
  font-family: sans-serif;
  color: #008E9B

}
=======

.homepage p{
  font-size: 22px;
}

.home-bg{
  background-color: rgb(92, 207, 200);
}

.doug{
  font-family: 'Indie Flower', cursive;
  
}

.doug h1{
  color: purple;
  font-size: 77px;
  margin: 0;
}


.doug h2{
  color: limegreen;
  font-size: 55px;
  margin: 0;
}

.doug h3{
  font-size:28px;
  color: mediumblue;
  font-style: italic;
}

.doug h4{
  font-size:20px;
  
}

.doug li{
  color: blueviolet ;
  font-size: 22px;
}

.doug p{
  color: blueviolet ;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 55px;
}

.doug img{
margin-top: 30px;

}

.doug-bg{
  background-color: lavender;

}

.sabrina{
  text-align: center;
}


.tamera{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.aboutme-list {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  
}

.tam-intro {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.tam-bg{
  background-color: rgb(247, 225, 167);
}
>>>>>>> main/main
